<html>

<body>
	<div style="margin: 1.5%;">
		<table bgcolor="#FFFFFF" width="100%" height="100%">
			<tr>
				<td width=25% valign="middle">
					<div location="lehrerAnlegenButton"></div>
				</td>
				<td width=25% valign="middle">
					<div location="lehrerBearbeitenButton"></div>
				</td>
				 <td width=25% valign="middle">
					<div location="klassenlehrerZuweisenButton"></div>
				</td>
				 <td width=25% valign="middle">
					<div location="klasseVerwaltenButton"></div>
				</td>
	 		</tr>
		</table>
	</div>
</body>
</html>
