<html>
<body>

<div style="margin-bottom: 1.5%;">
<table style="border: medium solid #E1EDF2;" bgcolor="#FFFFFF" cellspacing="3%" cellpadding="0" width="100%" height="100%" >
		<tr>
			<td width="57%">
				<div location="horizontalButtonBattery"></div>
			</td>
			<td width="43%"></td>
		</tr>
	</table>
</div>

<div style="margin-bottom: 1.5%; " >
	<table cellspacing="3%" cellpadding="0" width="100%" height="100%">
		<tr>
			<td style="border: medium solid #E1EDF2;" bgcolor="#FFFFFF"width="80%" height="100%">
				<div location="liste" height="250px"></div>
			</td>
			<td width="20%">
				<div location="verticalButtonBattery" align="center"></div>
			</td>
		</tr>
	</table>
</div>


</body>
</html>