<html>
<body>
<div style="border: medium solid #E1EDF2; background: #FFFFFF;" >
	<table style="margin: 1.5%; background-image: url(../images/RolpAppBlackboard.png); background-repeat: no-repeat; background-position: top;" width="100%" height="60%" align="center" >
		<tr height="340px">
			<td valign="bottom">
				<div location="klassenlehrerButton" align="right"></div>
			</td>
			<td width="150px">
				<div>
				</div>
			</td>
			<td valign="bottom">
				<div location="fachlehrerButton" align="left"></div>
			</td>
		</tr>
	</table>
	</div>
</body>
</html>