	<div style="margin: 1.5px;"">
		<table style="border: none; width: 100%; padding: 2px;" bgcolor="#FFFFFF">
		<colgroup>
		<col width="20%">
		<col width="60%">
		<col width="20%">
		</colgroup>
			<tr>
				<td style="vertical-align: top;"><div location="logoRolp"></div></td>
				<td align="center" style="vertical-align: top;"><div location="rolpDemoText"></div></td>
				<td align="right" style="vertical-align: top;"><a href="http://www.fossa.de" target="_blank" style="border: none; text-decoration: none;"><div location="logoFossa"></div></a><font color="grey">&copy; Fossa AG - 2014<font></td>
			</tr>
		</table>
	</div>