<html>
<body>

	<table bgcolor="#FFFFFF" width="80%" height="100%">
		<tr>
			<td>
				<div location="klassenBriefVerfassenButton"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div location="individuelleEinschaetzungButton"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div location="versetzungsvermerkButton"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div location="facheinschaetzungButton"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div location="lebErstellenButton"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div location="lebAbschliessenButton"></div>
			</td>
		</tr>
	</table>

</body>
</html>